# ─── Database ──────────────────────────────────────────────
POSTGRES_USER=bimbajobs
POSTGRES_PASSWORD=change_me
POSTGRES_DB=bimbajobs

# ─── Backend ───────────────────────────────────────────────
BACKEND_PORT=8080
DATABASE_URL=postgresql://bimbajobs:change_me@db:5432/bimbajobs

# ─── Frontend ──────────────────────────────────────────────
FRONTEND_PORT=3000

# ─── Linkedin API ──────────────────────────────────────────
LINKEDIN_API_KEY=your_api_key_here
LINKEDIN_API_HOST=linkedin-job-search5.p.rapidapi.com

# ─── Other Configurations ─────────────────────────────────
LLM_GOOGLE_API_KEY=your_google_api_key
LLM_OPENAI_API_KEY=your_openai_api_key
